* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #111;
    color: #fff;
    padding: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
}

input {
    background: #00b3ff5d;
    border: 1px solid #00b3ffab;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    color: #fff;
}

.btn {
    margin-top: 8px;
    width: 100%;
    background: #31e0c95d;
    border: 1px solid #00b2ff;
    padding: 8px;
    border-radius: 4px;
    color: #00b2ff;
    cursor: pointer;
}

.header {
    margin-top: 4px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00b2ff;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

li {
    display:  flex;
    justify-content: space-between;
    gap: 10px;
}

ul li input {
    margin-right: 10px;
}

.btn-danger {
    background: rgba(255, 0, 0, 0.527);
    color: #fff;
    padding: 6px 8px;
    border: 1px solid #f00;
    border-radius: 4px;
    cursor: pointer;
}